# Target
CONFIG_IDF_TARGET="esp32s3"

# Optimizer
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Stack
CONFIG_ESP_MAIN_TASK_STACK_SIZE=65536
CONFIG_FREERTOS_IDLE_TASK_STACKSIZE=2048

# Logging
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# Disable IDLE watchdog (long benchmarks)
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n
