# Target
CONFIG_IDF_TARGET="esp32s3"

# Optimizer - performance for accurate benchmarks
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Stack sizes
CONFIG_ESP_MAIN_TASK_STACK_SIZE=32768

# Flash size (actual 8MB chip)
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# Logging
CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# IPC task stack (default 1280 too small with complex constructors)
CONFIG_ESP_IPC_TASK_STACK_SIZE=4096

# Disable IDLE watchdog (long benchmarks)
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU1=n
